*{
  margin: 0;
padding: 0;
}
.contenedor_banner{
  background-color: #d3ab2c;
  width: 100%;
}
@font-face {
	font-family: "MyriadWebProRegular";
	src: url("MyriadWebProRegular.ttf");
	font-family: "Aller_Rg";
	src: url("Aller_Rg.ttf");
}

.sty_logo{
margin-left: 5rem;
margin-right: 2rem;
padding-top:0.2rem;

}

.navmenu{
  background: #1d3b6a;
  padding: 28px;
  display:block;
  color:white;
  cursor:pointer;
  font-size: 1.5em;
  
  width: 100%;
}

.menu{
  list-style: none;
  padding:0;
  margin:0;
  background: #1d3b6a;
  width: 100%;
  margin-left: -100%;
  transition: all 0.5s;
}

.mostrar{
  margin-left: 0;
}
.menu__link:hover{
  background: #d3ab2c;
}

.menu__link{
  display:block;
  padding:13px;
  color:#fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "MyriadWebProRegular";
}

@media(min-width:1024px){
  .navmenu{
    display: none;
  }
  .menu{
    margin-left: 0;
    display: flex;
    padding-left: 5rem;
  }
  
}
